<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>

</head>

<body>
    <div class="head">
        <h1 class="title">Loan Or Not</h1>
    </div>
    <div class="center">
        <h1>Loan-Predictor</h1>
        <form action="/t" method="post">
            <div class="inputbox">
                <input type="number" name="income" id="income">
                <span>Applicant-Income</span>
            </div>
            <div class="inputbox">
                <input type="number" name="C-income" id="C-income">
                <span>Co-Applicant_Income</span>
            </div>
            <div class="inputbox">
                <input type="number" name="Loan-Amount" id="Loan-Amount">
                <span>Loan-Amount</span>
            </div>
            <div class="inputbox">
                <input type="number" name="Loan-term" id="Loan-Term">
                <span>Loan-Term</span>
            </div>
            <div class="inputbox">
                <input type="number" name="Dependents" id="Dependents">
                <span>Dependents</span>
            </div>
            <div class="inputbox">
                <label for="Property-Area">Property-Area</label><br>
                <select name="Property-Area" id="Property-Area">
                    <option value="Urban">Urban</option>
                    <option value="Rular">Rular</option>
                    <option value="Semi-urban">Semi-urban</option>
                 </select>
            </div>
            <div class="inputbox">
                <label for="Marital_status">Marital_status</label><br>
                <select name="Marital_status" id="Marital_status">
                    <option value="Married">Married</option>
                    <option value="Single">Single</option>
                 </select>
            </div>
            <div class="inputbox">
                <label for="Self-Employed">Self-Employed</label><br>
                <select name="Self-Employed" id="Self-Employed">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                 </select>
            </div>
            <div class="inputbox">
                <label for="Education">Education</label><br>
                <select name="Education" id="Education">
                    <option value="Graduate">Graduate</option>
                    <option value="Not-Graduate">Not-Graduate</option>
                 </select>
            </div>
            <div class="inputbox">
                <label for="Gender">Gender</label><br>
                <select name="Gender" id="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                 </select>
            </div>
            <div class="inputbox">
                <label for="p-loan">Any-Previous-Loan</label><br>
                <select name="p-loan" id="p-loan">
                    <option value="yes">yes</option>
                    <option value="no">no</option>
                 </select>
            </div>

            <div class="Submit">
                <input type="submit" value="Submit">
            </div>
            {{prediction_text}}
        </form>
    </div>
</body>

</html>