<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: teal;
        }
        
        .card {
            margin-left: 450px;
            background-color: greenyellow;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
            width: max-content;
            /* 5px rounded corners */
        }
    </style>
</head>


<body>
    <div class="card">
        <h1><b>Congratulation</b></h1>
        <h3>Your loan-application is eligble for our bank,<br>We will contact you soon</h3>
    </div>
</body>

</html>